@import "variables";

.article-sidebar {
  display: none;
}

.article-content {
  width: 100%;
  max-width: 1130px;
  margin-left: 0;
}
.title-paz h2 {
  width: 100%;
}
.section-paz .title h2 {
  color: #444848;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

#silla-interactive-container {
  font-size: 16px;
  line-height: 1.5;
  max-width: 1013px;
  margin: 0 auto 4em;
  border-top: 1px solid #ddd;
  padding-top: 60px;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .section-paz {
    padding-top: 0;
    padding-left: 15px;
    border-top: 0;
    p {
      font-size: 14px;
    }
  }

  .lsvi_container {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    background-color: #fff;

    &__select-container {
      margin-top: 72px;
      padding-left: 0;
    }

    &__legend {
      list-style: none;
      margin: 0;
      padding: 0;
      column-count: 2;
      max-width: 30em;
      float: right;
      font-size: .85em;
      span {
        width: .75em;
        height: .75em;
        background-color: currentColor;
        display: inline-block;
        border-radius: 50%;
        margin-right: 1em;
      }
      li:hover{
        opacity: .8;
        cursor: pointer;
      }
    }

    &__resetbtn {
      background-color: transparent;
      border: 1px solid currentColor;
      padding: 2px 5px;
      color: #bbb;
    }

    &__title {
      font-family: Georgia, serif;
      text-transform: none;
      font-size: 48px;
      padding-bottom: 20px;
      font-weight: 700;
      max-width: 700px;
      margin: 0 auto 1em;
      line-height: 1.5;
      text-align: center;
    }

    &__select {
      float: left;
      margin-top: .25em;
      margin-bottom: .5em;
      text-align: left;
      position: relative;
      > h3 {
        font-family: Roboto Slab, Georgia, sans-serif;
        font-size: 1em;
      }

      small {
        display: inline-block;
        color: $brand-black;
        margin-right: 1em;
      }
      @media screen and (min-width: 1066px) {
        &:first-child {
          //padding-left: 0;
        }
      }
      @media screen and (max-width: 500px) {
        margin-top: .1em;
        margin-bottom: .1em;
      }
    }

    &__selects {
      margin: 1em 0 0;

    }

    &__heading {
      background: $colorprimary;
      h2 {
        font-family: Lato, Roboto, Helvetica, sans-serif;
        margin: 0;
        color: #fff;
        font-size: 7.3pt;
        display: inline-block;
        border-radius: 3px;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
      .PersonRow__column:first-child {
        padding-left: 5em;
      }
      &:hover .PersonRow__columns,
      .PersonRow__columns {
        background-color: transparent !important;
      }
      .PersonRow__columns {
        cursor: default;
      }

      @media screen and (max-width: 500px) {
        margin-top: .5em;
      }
    }

    .Select {
      font-size: 1em;
      position: relative;
      z-index: 10;
      margin: 0;
      width: calc(100% - 2em);
      background-color: #fff;

      @media screen and (max-width: 500px) {
        width: 230px;
      }
    }

    .Select__open {
      z-index: 1000;
    }
  }
}

.ListScroll{
  height: 500px;
  overflow: scroll;

  @media screen and (max-width: 960px) {
    height: 330px;
  }
}
